.main>.container {
	min-height: 580px;
}

.panel-login {
	border-color: #ccc;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
}

.panel-login>.panel-heading {
	color: #00415d;
	background-color: #fff;
	border-color: #fff;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 10px;
}

.panel-login>.panel-heading a {
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login>.panel-heading a.active {
	color: #E84423;
	font-size: 18px;
}

.panel-login>.panel-heading hr {
	margin-top: 25px;
	margin-bottom: 0px;
	clear: both;
	border: 0;
	height: 1px;
	background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0) );
	background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0) );
	background-image: -ms-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0) );
	background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0),
		rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0) );
}

.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"]
	{
	height: 45px;
	border: 1px solid #ddd;
	font-size: 16px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}

.panel-login input:hover,.panel-login input:focus {
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-color: #E84423;
}

.btn-login {
	background-color: #E84423;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #E84423;
}

.btn-login:hover,.btn-login:focus {
	color: #E84423;
/* 	background-color: #53A3CD; */
	background-color: #ffffff;
	border-color: #E84423;
}

.forgot-password {
	text-decoration: underline;
	color: #888;
}

.forgot-password:hover,.forgot-password:focus {
	text-decoration: underline;
	color: #666;
}

.btn-register {
	background-color: #E84423;
	outline: none;
	color: #fff;
	font-size: 14px;
	height: auto;
	font-weight: normal;
	padding: 14px 0;
	text-transform: uppercase;
	border-color: #E84423;
}

.btn-register:hover,.btn-register:focus {
	color: #E84423;
	background-color: #ffffff;
	border-color: #E84423;
}

.panel-login {
	margin-bottom: 60px;
	margin-top: 60px;
}
.form-group {
    margin-bottom: 25px;
}